*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.button{
  padding: 10px 20px;
  color: white;
  background-color: #0061ff;
}

.button:hover{
  background-color:#0061ff;;
  opacity: 0.6;
}

.button-secondo{
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid black;
}
/* -------- */
.col-main-x{
  margin:auto 6%;
}
/* ----------- */
.float-left{
  float: left;
}

.float-right{
  float: right;
}

/* DA MODIFICARE!!!!!!!!! */
.margin-bottom{
  margin-bottom:150px;
}


.wdth10{
  width: 10%;
}
.wdth20{
  width: 20%;
}
.wdth28{
  width: 28%;
}
.wdth30{
  width: 30%;
}
.wdth40{
  width: 40%;
}
.wdth50{
  width: 50%;
}
.wdth60{
  width: 50%;
}
.wdth70{
  width: 70%;
}
.wdth100{
  width: 100%;
}

#grey{
  color:#e2e2e5; 
}

.little-border{
  display: inline-block;
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
}


.special-class-active{
  box-shadow: 0 0 0 10px rgba(255, 253, 253, 0.4) inset;
}










/* De-bug uti */
.debug{
  background-color: rgba(255, 0, 0, .2);
  /* border: 1px solid black; */
}

.h80{
  min-height: 80px;
}

.h150{
  min-height: 150px;
}

.h300{
  min-height: 300px;
}



.h600{
  min-height: 600px;
}

.h1300{
  min-height: 1300px;
}

